.heading-text {
    width: 100%;
    background-image: linear-gradient(to right, transparent, rgba(0,0,0,0.6), rgba(0,0,0,0.6), transparent);
}

.plugin-heading-text {
    @extend .heading-text;
    font-family:Slider;
}

.mod-heading-text {
    @extend .heading-text;
    font-family: Planewalker;
}

.help {
    @extend .simptip-position-top;
    @extend .simptip-multiline;
    @extend .simptip-smooth;
    @extend .simptip-fade;
}
