.heading-text {
    width: 100%;
    background-image: linear-gradient(to right, transparent, rgba(0,0,0,0.8), rgba(0,0,0,0.8), transparent);
}

.p-soc {
    padding: 0.25rem 0.25rem !important;
}

.plugin-heading-text {
    @extend .heading-text;
    font-family: Slider;
}

.mod-heading-text {
    @extend .heading-text;
    font-family: Planewalker;
}

.name-tag {
    margin-left: -6em;
}

.help {
    @extend .simptip-position-top;
    @extend .simptip-multiline;
    @extend .simptip-smooth;
    @extend .simptip-fade;
}

$v: (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20);

@each $vi in $v {
    .vw-#{$vi} {
        font-size: #{$vi}vw;
    }

    .vh-#{$vi} {
        font-size: #{$vi}vh;
    }

    .vmin-#{$vi} {
        font-size: #{$vi}vmin;
    }

    .vmax-#{$vi} {
        font-size: #{$vi}vmax;
    }

    .rem-#{$vi} {
        font-size: #{$vi/2}rem;
    }

    .em-#{$vi} {
        font-size: #{$vi/2}em;
    }
}

@each $w, $s in $grid-breakpoints {
    @include media-breakpoint-up($w) {
        @each $vi in $v {
            .vw-#{$w}-#{$vi} {
                font-size: #{$vi}vw;
            }

            .vh-#{$w}-#{$vi} {
                font-size: #{$vi}vh;
            }

            .vmin-#{$w}-#{$vi} {
                font-size: #{$vi}vmin;
            }

            .vmax-#{$w}-#{$vi} {
                font-size: #{$vi}vmax;
            }

            .rem-#{$w}-#{$vi} {
                font-size: #{$vi/2}rem;
            }

            .em-#{$w}-#{$vi} {
                font-size: #{$vi/2}em;
            }
        }
    }
}

#systemTable th {
    color: #000;

    a {
        color: #000;
    }
}

.nms-star::before, .nms-planet::before {
    font-size: 1.5em;
    font-style: normal;
    line-height: 1em;
}

.nms-stars {
    font-size: 1.25em;
    font-style: normal;
}

.nms-large::before, .nms-star::before {
    content: "⬤";
}

.nms-large-rings::before {
    content: "◉" !important;
    font-size: 1.75em;
}

.nms-medium::before {
    content: "●";
    font-size: 1em;
}

.nms-medium-rings::before {
    content: "⦿" !important;
    font-size: 1.75em;
}

.nms-small::before {
    content: "•";
}

.nms-small-rings::before {
    content: "⊙" !important;
    font-size: 1.75em;
}

.nms-moon::before {
    content: "·";
}

.nms-moon-rings::before {
    content: "⊙" !important;
}

.nms-red::before {
    color: #c0392b;
}
.nms-blue::before {
    color: #2980b9;
}
.nms-green::before {
    color: #27ae60;
}
.nms-yellow::before {
    color: #f39c12;
}

.nms-invert {
    filter: invert(1) grayscale(1);
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    height:2em;
    line-height:1em;
}

.nms-abandoned {
    @extend .nms-red;
    font-style:normal;
}