@font-face {
    font-family: 'Slider';
    src: url('../fonts/Slider.eot');
    src: url('../fonts/Slider.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Slider.woff2') format('woff2'), 
        url('../fonts/Slider.woff') format('woff'), 
        url('../fonts/Slider.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Planewalker';
    src: url('../fonts/Planewalker.eot');
    src: url('../fonts/Planewalker.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Planewalker.woff2') format('woff2'),
        url('../fonts/Planewalker.woff') format('woff'),
        url('../fonts/Planewalker.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

