@font-face {
    font-family: 'Slider';
    src: url('../fonts/Slider.eot');
    src: url('../fonts/Slider.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Slider.woff2') format('woff2'), 
        url('../fonts/Slider.woff') format('woff'), 
        url('../fonts/Slider.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
